* {
    margin: 0;
    padding: 0;
}

body {
    margin: 15px auto; 
    background-color: #11151C;
    border: #D66853 solid 5px;
    border-radius: 25px;
    max-width: 400px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 0 0 40px 10px #000;
}

header {
    text-align: center;
    padding: 15px 0;
    overflow: hidden;
    background-color: #11151C;
    border-radius: 20px 20px 0 0;
    border-bottom: #D66853 solid 5px;
}

header h1 {
    color: #8AEA92;
    font-size: 2rem;
}

header h2 {
    color: #F5DBD5;
    font-size: 0.8em;
    text-transform: uppercase;
}

.calltoaction {
    background-color:#8AEA92;
    padding: 0.3em;
    text-align: center;
    color:#11151C;
    font-size: 1rem;
}

#count {
    width: 100%;
    padding: 0.5rem;
    padding-left: 6%;
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
    background-color: #11151C;
    color: #F5DBD5;
    border: none;
    border-bottom: #D66853 solid 5px;
    outline: none;
}

#count:hover {
    cursor: pointer;
    background-color: #F5DBD5;
    color: #212D40;
}

.middlehalf {
    padding: 20px 0;
    background-color: #212D40;
    color: #8AEA92;
    line-height: 1.5rem;
    box-shadow: inset 0 30px 30px -30px #000, inset 0 -30px 30px -30px #000;
    border-bottom: #D66853 solid 5px;
}

.middlehalf p {
    color: #F5DBD5;
}

#square {
    width: 55%;
    margin-top: -20px;
    margin-left: 23%;
}


.formula {
    text-align: center;
    margin-top: -10px;
}

.description {
    margin-left: 20px;
}

.lowerhalf {
    display: flex;
    flex-direction: column;
    background-color: #11151C;
    color:#8AEA92;
    text-align: center;
    border-radius: 0 0 20px 20px;
}

#calculate {
    padding: 5px;
}

#squareside {
    background-color: #F5DBD5;
    border:#D66853 solid 3px ;
    border-radius: 10px;
    margin: 0 auto;
    width: 150px;
    padding: 0.5em;
    padding-left: 6%;
    text-align: center;
    font-weight: bold;
    outline: none;
    color: #212D40;
}

#calculateBreakdown {
    text-align: start;
    margin: 10px auto 10px 40%;
    min-height: 60px;
}

.katikbutton {
    padding: 2px 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    width: 70px;
    text-align: center;
    transition: background-color 0.2s ease;
    transition: transform 0.2s ease;
}


.katikbutton:active {
    transform: translateY(2px);
}

#calculateButton {
    background-color: #212D40;
    color: #F5DBD5;

}

#resetButton {
    background-color: #D66853; 
    color: #F5DBD5;
}

#calculateButton:hover, #resetButton:hover {
    cursor: pointer;
    background-color:#8AEA92;
    color: #212D40;
}